// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.right-productside {
	margin-top: 100px;
}


.product-image {
	padding: 15px;
}

.product-display {
	border-bottom: 1px solid grey; 
	margin-bottom: 30px;
}

p {
	text-align: center;
	font-size: 16px;
}

h3 {
	text-align:center;
}